<nav>
    <!-- use obj data from route to build navigation links -->
    <% locals.navigationLinks.forEach(element => { %>

    <!-- kontrollera i forEach loopen om ett element överensstämmer med aktuell sida (locals.page) -->
    <a href="<%- element.toLowerCase() %>" <% if (element.toLowerCase() === locals.page) { %> class="active" <% } %>>

        <%- element %>

    </a> |
    <% }) %>
</nav>