body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 480px;
    width: 100%
}

header {
    background-color: darkred;
    color: white;
    position: relative;
}

footer {
    background-color: darkred;
    color: white;
}

header img {
    width: 100%;
    height: auto;
}